

/*---> Media Query - Large ...................................... */

@media ( min-width: 750px ) {

 /* ---> Font ................................................ */

    html { font-size: 35px; }  	

 /* ---> Header .............................................. */

    #eazeLogo { 
        height: 35px;
        margin-top: 15px; 
    }
    
    #searchBar { margin-top: 35px; }

 /* ---> Nav ................................................. */   
 	
 	.nav {
        line-height: 35px;
        font-size: .8em;
    }     

 /*---> Images ............................................... */

        #imgContainer {
        	width: 100%;
            height: 630px;
            overflow: scroll;
        }   

 /*---> Info ................................................. */

        #infoContainer {
            width: 100%;
            height: 350px;
            background-color: silver;
            border: solid white 1px;
            display: none;
        }

        h1 { font-size: .9em; }

        p,a { font-size: .6em; }

 /*---> Footer ............................................... */

    #footerLeft { font-size: .4em; }        
    
    #allRights {
    	font-size: .3em;
        line-height: 20px;
    }

}